<app-navdash></app-navdash>
<div class="flex w-screen">
  <app-dashmenu></app-dashmenu>
  <div class="w-full">
    <div class="container mx-auto p-16 h-full rounded-lg shadow-lg bg-white flex flex-col">
      <label class="text-4xl font-sans font-medium text-cyan-700 mb-6">Historial de Reservas</label>
      <hr>
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="min-w-full text-center">
                <thead class="border-b bg-gray-800">
                  <tr>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      N
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Actividad
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Correo
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Tipo de Reservacion
                    </th>
                    <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                      Cantidad de Participantes
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let reser of reservations; let i = index" class="bg-white border-b">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ i +1 }}</td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{reser.activity}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{reser.responsible}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{reser.reservationType}}
                    </td>
                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      {{reser.participants}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
